:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #dfdfdf;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}
    

.warp {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #ffffff;
    user-select: none !important;
    height: 100vh;

}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.warp__home {
    background-image: url(backgroundhome.jpg);
}

.warp__task{
    background-image: url(backgroundtaskone.jpg);
    filter: brightness(88%);
    padding: 0 10%;
}

.warp__login,
.warp__reg{
    display: flex;
    justify-content: center;
    background-image: url(backgroundtaskone.jpg);
    filter: brightness(88%);
    padding: 0 10%;
}

form.form-login{
   display: table; 
}

form.form-login{
   display: table; 
}

.container{
    display: flex;
}

.warp__taskone {
    background-image: url(backgroundtaskone.jpg);
    filter: brightness(88%);
    padding: 0 10%;
}

.warp__game1{
    display: flex;
    justify-content: center;
    background-image: url(backgroundtaskone.jpg);
    filter: brightness(88%);
    padding: 0 10%;
}

.pagegame{
    display: flex;
    align-items: center;
}

.mainpage {
    display: flex;
    flex-direction: row;
    align-items: center;
}





.mainpage__home{
    height: 100vh;
    padding: 0 15px;
    margin: 0 auto;
    margin-left: 250px;
    gap: 30px;
}

.mainpage__task{
    justify-content: space-between;
    padding: 0 600px;
    margin: 0 auto;
}

.mainpage__login{
    justify-content: center;
    padding: 0;
    margin-left: 0;
    gap: 0;
}

.maintitle {
    display: grid;
    margin-top: -60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 32px;
    text-align: center;
    padding-top: 3vw;
    background: #a2dac6;
    margin-right: -120px;
    width: 45vw;
    height: 10vh;
    margin-top: auto;
    padding-left: 3vw;
    padding-right: 3vw;


}

/* обёртка для карточек */
.card-wrap {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 730px;
}

.card_wrap1{
    display: flex;
    justify-content: flex-end;

}

/* карточки */
.card {
    background: rgb(187, 187, 187);
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 35px;
}



.card__taskglobal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0;
    border: 0px;
    padding: 0;
    height: 100vh;
    background: rgb(210, 210, 210);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__task {
    background: rgb(184, 224, 207);
    width: 20vw;
    height: 50vh;

}

.card__two{
    background: rgb(184, 224, 207);
    width: 20vw;
}

.card__login{
    position: relative;
    display: grid;
    width: 500px
}

.card__reg{
    height: 50vh;
    padding: 45px;
}

.card__game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

/* внутрености карточек */

.card__title {
    font-size: 26px;
    margin: 0 0 20px 0;
}

.card__descr {
    font-size: 22px;
}

/* кнопки */
.btn {
    background-color: #6CCAA8aa;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 5vh;
    font-size: medium;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000000;
}

.btn.active {
    animation: glowing 1300ms infinite;
}

.mousebtn__lkm,
.mousebtn__pkm,
.mousebtn__ckm,
.mousebtn__four {
    background-color: #2fcf5faa;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 33.3%;
    top: 20.3%;
}

.mousebtn__pkm {
    right: 8.5%;
}

.mousebtn__ckm {
    left: 46%;
}

.mousebtn__four {

    left: 46.2%;
    top: 35.5%;
}

.btn__loginpage{
    border-radius: 15px;
    height: 30px;
}

.btn__regpage{
    border-radius: 15px;
    width: 200px;
    height: 30px;
}

@keyframes glowing {
    0% {
        background-color: rgba(150, 255, 150, 0.7);
        box-shadow: 0 0 3px rgba(150, 255, 150, 0.7);
    }

    50% {
        background-color: rgba(100, 255, 100, 0.7);
        box-shadow: 0 0 10px rgba(100, 255, 100, 0.7);
    }

    100% {
        background-color: rgba(150, 255, 150, 0.7);
        box-shadow: 0 0 3px rgba(150, 255, 150, 0.7);
    }
}

/* инпуты */

.input_klava{
    width: 10wh;

}

.input__login,
.input__reg{
    width: auto;
}

/* игровая доска*/

css
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a9a9a9;
  margin: 2px;
}

.cell.active {
    background-color: #f00;
  }

  /* текст */

  .gamedecr{
    font-size: 24px;
  }

  /* клавиатура */
.container-klava{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input__textklava{
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
}

  .input__klava {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .simple-keyboard {
    max-width: 850px;
  }
  