body {
    margin: 0;
    padding: 0;

    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 32px;
    text-align: center;
}

/* обёртка для карточек */
.card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 730px;
}

/* карточка */
.card {
    background: rgba(187, 187, 187, 0.7);
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 45px 35px 40px 35px;
}

.card__title {
    font-size: 24px;
    margin: 0 0 20px 0;
}

.card__descr {
    font-size: 18px;
}